/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  padding: 4rem 0;
}
@media only screen and (min-width: 500px) {
  header {
    padding: 5rem 0;
  }
}
nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
nav .logo {
  height: 3rem;
  display: flex;
  flex-grow: 1;
}
nav .logo a {
  font-size: 2rem;
  display: flex;
  padding: 0;
  text-decoration: none;
}
nav .logo a:visited {
  color: white;
}
nav .logo a img {
  height: 3rem;
}
nav .logo a h1 {
  align-self: center;
}
nav #menu {
  display: none;
}
nav #menu .nav-items {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
nav #menu .nav-items a {
  margin: 0.5rem;
  color: white;
  text-decoration: none;
}
nav #menu .nav-items a:visited {
  color: white;
}
nav #menu .login {
  display: flex;
}
nav #menu .login button {
  margin: 0 0.5rem;
  height: 3rem;
  background-color: #2e4482;
  border: none;
  border-radius: 5px;
}
nav #menu .login button:hover {
  background-color: yellow;
}
nav #menu .login button:hover a {
  color: black !important;
}
nav #menu .login button a {
  text-decoration: none;
}
nav #menu .login button a:visited {
  color: white;
}
nav #menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
nav #menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
nav #menuToggle a:hover {
  color: tomato;
}
nav #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
nav #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
nav #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
nav #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
nav #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
nav #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
nav #menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
nav #menuToggle input:checked ~ .mobile-menu {
  transform: scale(1, 1);
  opacity: 1;
}
nav #menuToggle .mobile-menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
nav #menuToggle .mobile-menu .nav-items {
  display: flex;
  flex-direction: column;
}
nav #menuToggle .mobile-menu a {
  padding: 10px 0;
  font-size: 22px;
}
* {
  font-family: Sans-Serif;
}
body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section1 {
  background: url(../img/new_home_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
#section1 .section1_text_wrapper {
  width: 50%;
  padding-left: 5rem;
}
@media only screen and (min-width: 500px) {
  #section1 .section1_text_wrapper {
    width: 30%;
  }
}
#section1 .section1_text_wrapper h1 {
  font-size: 2rem;
}
#section1 .section1_text_wrapper p {
  margin-top: 2rem;
}
#section1 .button_wrapper {
  padding-left: 5rem;
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
}
#section1 .button_wrapper button {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  margin-right: 1rem;
}
#section1 .button_wrapper button a {
  text-decoration: none;
  color: black;
}
#section1 .button_wrapper button a:hover {
  background-color: black;
  color: white;
}
#section2 ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
}
@media only screen and (min-width: 500px) {
  #section2 ul {
    flex-direction: row;
    flex-flow: wrap;
    padding: 0rem;
    width: 90%;
    margin: 0 auto;
  }
}
#section2 ul #what_is_sleep_tracker {
  background: url('../img/night-sky.jpeg');
  background-size: cover;
}
#section2 ul #why-sleep {
  background: url('../img/Vanishing-Stripes.svg');
  background-size: cover;
}
#section2 ul #who-are-we {
  background: url('../img/who_are_we.png');
  background-size: cover;
}
#section2 ul a {
  border: 1px solid white;
  border-radius: 5px;
  height: 15rem;
  margin: 1rem auto;
  width: 80%;
}
@media only screen and (min-width: 500px) {
  #section2 ul a {
    width: 28%;
  }
}
#section2 ul a li {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  color: white;
  border-radius: 5px;
}
