* {
  font-family: Sans-Serif;
}
body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: black;
  color: white;
}
nav {
  display: flex;
  align-content: center;
  background-color: dodgerblue;
}
nav .logo {
  display: flex;
  flex-grow: 1;
}
nav .logo a {
  display: flex;
}
nav .logo a img {
  height: 50%;
  justify-self: center;
}
nav button {
  margin: 0.5rem;
  max-height: 3rem;
  background-color: darkblue;
  border: none;
  border-radius: 5px;
}
nav a {
  align-self: space-between;
  justify-self: center;
  text-decoration: none;
  color: white;
  padding: 1rem 0.4rem;
}
nav a:visited {
  color: white;
}
#section1 {
  background: url(../img/new_home_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section1 .section1_wrapper {
  width: 30%;
  padding-left: 5rem;
}
#section1 .button_wrapper {
  padding-left: 5rem;
  width: 30%;
  margin-top: 1.5rem;
}
#section1 .button_wrapper button {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
}
#section2 ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
#section2 ul #what_is_sleep_tracker {
  background: url('../img/night-sky.jpeg');
  background-size: cover;
}
#section2 ul #why-sleep {
  background: url('../img/Vanishing-Stripes.svg');
  background-size: cover;
}
#section2 ul #who-are-we {
  background: url('../img/who_are_we.png');
  background-size: cover;
}
#section2 ul a {
  border: 1px solid white;
  border-radius: 5px;
  height: 15rem;
  width: 35%;
  margin: 0 1rem;
}
#section2 ul a li {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: white;
  border-radius: 5px;
}
