@import "reset";
@import "headernav";

// color variables
@primary-color: #2e4482;
@highlight-color: yellow;
@text-color: white;
@background-color: black;

// media query variables
@mobile: ~"only screen and (max-width: 500px)";
@tablet: ~"only screen and (max-width: 800px)";

// mixins
.no-decoration() {
  text-decoration: none;
  &:visited {
    color: @text-color;
  }
}

* {
  box-sizing: border-box;
  font-family: Sans-Serif;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: @background-color;
  color: @text-color;
}

section {
  h2 {
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
  }
  p {
    max-width: 80%;
    margin: 0 auto;
  }
}

#who-are-we {
  display: flex;
  flex-wrap: wrap;
  .member-card {
    border: 1px solid @primary-color;
    border-radius: 5px;
    margin: 1rem;
    max-width: 21%;
    img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
    div {
      padding: 1rem;
    }
  }
  @media @tablet {
    flex: 1 0 23%;
    .member-card {
      margin: 1rem auto;
      max-width: 40%;
    }
  }
  @media @mobile {
    display: block;
    .member-card {
      margin: 1rem auto;
      max-width: 50%;
    }
  }
}

#contact-us {
  max-width: 80%;
  margin: 0 auto;
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid @primary-color;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: @primary-color;
    color: @text-color;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: @highlight-color;
    color: @background-color;
  }
}
